@page "/"
<PageTitle>Index</PageTitle>

<StandaloneCodeEditor Id="my-editor-instance-id" />
<p class="test"></p>
<StandaloneCodeEditor Id="my-editor-instance-id" ConstructionOptions="EditorConstructionOptions" />
@code{
	private StandaloneEditorConstructionOptions EditorConstructionOptions(StandaloneCodeEditor editor)
	{
		return new StandaloneEditorConstructionOptions
			{
				AutomaticLayout = true,
				Language = "javascript",
				Value = "function xyz() {\n" +
						"   console.log(\"Hello world!\");\n" +
						"}"
			};
	}



}